@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "swiper/css/navigation";
@layer base {
  @theme {
    --color-primary-50: #f0f5ff;
    --color-primary-100: #e5edff;
    --color-primary-200: #cddbfe;
    --color-primary-300: #b4c6fc;
    --color-primary-400: #8da2fb;
    --color-primary-500: #6875f5;
    --color-primary-600: #5850ec;
    --color-primary-700: #5145cd;
    --color-primary-800: #42389d;
    --color-primary-900: #362f78;
  }

  :root {
    --background: #f0f5ff;
    --foreground: #f0f5ff;

    --swiper-pagination-color: var(--color-primary-700);
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: var(--color-primary-200);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --swiper-pagination-bottom: 14px;

    --swiper-navigation-color: var(--color-primary-700);
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  } */

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Inter", sans-serif;
  }

  .hover-effect-icon:hover {
    @apply hover:stroke-indigo-400 cursor-pointer transition-all duration-300;
  }

  .cart-gradient {
    background: linear-gradient(
      to bottom,
      rgba(229, 231, 235, 1) 0%,
      rgba(229, 231, 235, 0.6) 30%,
      rgba(229, 231, 235, 0.4) 40%,
      rgba(229, 231, 235, 0.3) 60%,
      rgba(229, 231, 235, 0.2) 80%,
      rgba(229, 231, 235, 0.1) 100%
    );
  }

  .slider-controller-review {
    position: relative;
    bottom: -2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-button-prev,
  .swiper-button-next {
    z-index: 20 !important;
  }
  .slider-arrow-review-next:after,
  .slider-arrow-review-prev:after {
    font-size: 31px !important;
  }
  .slider-arrow-review-prev:after,
  .slider-arrow-review-next:after {
    font-size: 31px !important;
  }

  .slider-arrow-review-pagination {
    position: relative;
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: var(--color-primary-300);
    bottom: -0.3rem !important;
  }

  @media (max-width: 768px) {
    .slider-arrow-review {
      display: none !important;
    }
  }
  @media (max-width: 639px) {
    .slider-xs-left {
      left: -1% !important;
    }
    .slider-xs-bottom {
      bottom: 30% !important;
    }
  }

  @media (max-width: 570px) {
    .slider-xs-left {
      left: -5% !important;
    }
  }
  @media (max-width: 425px) {
    .slider-xs-bottom {
      bottom: 40% !important;
    }
    .slider-bg-card {
      width: 230px !important;
    }

    .titles-xs {
      font-size: 30px !important;
      text-align: center !important;
    }

    .margins-xs {
      margin-top: 40px !important;
    }
    .padding-banner-xs {
      padding: 18px !important;
      text-align: center;
    }

    .footer-menu-xs {
      display: none !important;
    }

    .review-slider {
      margin-bottom: 22px;
    }

    .slider-controller-review {
      bottom: -0.5rem;
    }
  }
}
